/docs/
/lib/
/bin/
/.shards/
*.dwarf
/node_modules
yarn-error.log
start_server
*.dwarf
*.local.cr
.env
/public/js
/public/css
/public/mix-manifest.json
/tmp
.DS_Store
.tool-versions

# Ignore Up cache file
/up.cache
