// https://github.com/algolia/docsearch/blob/ca19e0163524dbc9a883c12e72e99aa774734cc2/packages/docsearch-css/src/_variables.css#L3
:root {
  --docsearch-primary-color: rgb(36, 76, 135);
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-text-color: rgb(3, 30, 55);
  --docsearch-muted-color: rgb(150, 159, 175);
  --docsearch-logo-color: rgba(55, 222, 151, 1);
}
