.markdown-content {
  @apply text-blue-darker leading-normal;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .md-anchor {
      display: none;
    }
  }

  h2,
  h3 {
    position: relative;

    .md-anchor {
      @apply no-underline opacity-0;
      transition: 0.2s ease-in-out all;
      display: block;
      position: absolute;
      border: none;
      left: -20px;
    }

    &:hover .md-anchor,
    &:target .md-anchor {
      @apply opacity-100;
      display: block;

      &:hover {
        @apply text-black;
      }
    }

    &:target .md-anchor {
      @apply text-black;
    }
  }

  h2 .md-anchor {
    @apply text-teal-dark;
  }

  h3 .md-anchor {
    @apply text-grey-darker;
  }

  h2 {
    @apply font-normal text-2xl text-teal-dark py-2 mb-5 mt-8 tracking-wide;
  }

  h3 {
    @apply text-lg mb-6 mt-3 border-b border-grey-light pb-3;
  }

  a {
    @apply text-blue-dark no-underline border-b border-blue-light break-all;

    &:hover {
      @apply text-blue-darker border-blue-darkest;
    }
  }

  p {
    margin: 0 0 28px 0;
  }

  ul {
    list-style-type: none;
    margin: 24px 12px 24px 6px;

    li {
      margin-bottom: 6px;
      position: relative;

      &::before {
        @apply bg-grey;
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        left: -22px;
        top: 9px;
        border-radius: 50%;
      }
    }

    ul {
      margin-top: 12px;
    }
  }

  ol {
    li {
      margin-left: -12px;
      margin-top: 10px;
    }
  }

  .hljs-comment,
  .hljs-quote {
    @apply text-blue-lighter italic;
    opacity: 0.4;
  }

  code {
    font-size: 16px;
    font-family: Menlo, Roboto Mono, Courier New, monospace;
    border-radius: 4px;
    padding: 1px 5px;
    scrollbar-color: #4a5568 #2e3440;

    a {
      @apply text-blue-dark no-underline border-b border-blue-light;
    }

    a:hover {
      @apply text-grey-lighter border-grey;
    }
  }

  pre {
    @apply relative;

    .copy-code-button {
      @apply absolute right-3 -top-3 transition-opacity duration-100 ease-in-out opacity-0 bg-gray-800;

      &:hover {
        @apply opacity-100;
      }
    }

    &:hover .copy-code-button {
      @apply opacity-80;
    }
  }

  &.-large-code {
    pre {
      border-radius: 6px;
      padding: 12px 18px;
    }

    code {
      font-size: 18px;
    }
  }

  .language-plain {
    @apply text-white;
    opacity: 0.9;
  }

  blockquote,
  p,
  ul {
    code {
      @apply bg-blue-lightest;
      word-break: break-word;
      color: #16417c;
      padding: 1px 4px 1px 4px;
      margin-left: 1px;
      margin-right: 1px;
      font-size: 15px;
      @apply border border-blue-lighter bg-blue-lightest;
    }
  }

  pre,
  blockquote {
    background: #ffffff;
    border-radius: 4px;
    padding: 10px 10px 10px 16px;
    margin: 30px 0 30px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    @screen md {
      margin-right: -16px;
    }
  }

  pre {
    background: #2e3440;
    overflow: auto;
    max-width: 100%;
  }

  blockquote {
    border-left: 2px solid;
    @apply border-green-600;

    > p {
      padding: 10px;
      margin: 0;
    }
  }

  table {
    background: #ffffff;
    max-width: 100%;
    overflow: auto;
    margin: 30px 0 30px 0;
    border: 1px solid #cccccc;

    thead {
      tr {
        border-bottom: 1px solid #cccccc;
        th {
          padding: 10px 10px 10px 16px;
          text-align: left;
          vertical-align: bottom;
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid #cccccc;
        td {
          padding: 10px 10px 10px 16px;
        }
      }
    }
  }
  .bordered-icon {
    @apply w-6 h-6 rounded-md border border-grey-light p-1;
  }
}
