.markdown-content {
  @apply text-blue-darker leading-normal;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .md-anchor {
      display: none;
    }
  }

  h2 {
    position: relative;

    .md-anchor {
      @apply no-underline text-teal-dark opacity-0;
      transition: 0.3s ease-in-out all;
      display: block;
      position: absolute;
      border: none;
      left: -20px;
    }

    &:hover .md-anchor,
    &:target .md-anchor {
      @apply opacity-100;
      display: block;

      &:hover {
        @apply text-teal-darkest;
      }
    }
  }

  h2 {
    @apply font-normal text-2xl text-teal-dark py-2 mb-5 mt-8 tracking-medium;
  }

  h3 {
    @apply text-lg mb-6 mt-3 border-b border-grey-light pb-3;
  }

  a {
    @apply text-blue-dark no-underline border-b border-blue-light;

    &:hover {
      @apply text-blue-darker border-blue-darkest;
    }
  }

  p {
    margin: 0 0 28px 0;
  }

  ul {
    list-style-type: none;
    margin: 24px 12px 24px 6px;

    li {
      margin-bottom: 6px;
      position: relative;

      &::before {
        @apply bg-grey;
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        left: -22px;
        top: 9px;
        border-radius: 50%;
      }
    }

    ul {
      margin-top: 12px;
    }
  }

  .hljs-comment,
  .hljs-quote {
    @apply text-blue-lighter italic;
    opacity: 0.5;
  }

  code {
    font-size: 16px;
    font-family: Menlo, Roboto Mono, Courier New, monospace;
    border-radius: 4px;
    padding: 2px 4px;
  }

  &.-large-code {
    pre {
      border-radius: 6px;
      padding: 12px 18px;
    }

    code {
      font-size: 18px;
    }
  }

  code:not(.hljs) {
    @apply bg-blue-lightest;
    word-break: break-word;
    color: #16417c;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 3px;
    margin-right: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    @apply border border-blue-lighter;
  }

  blockquote code:not(.hljs) {
    @apply bg-blue-lightest;
  }

  pre,
  blockquote {
    background: #ffffff;
    border-radius: 4px;
    padding: 10px 10px 10px 16px;
    margin: 30px 0 30px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    @screen md {
      margin-right: -16px;
    }
  }

  pre {
    background: #2e3440;
    overflow: auto;
    max-width: 100%;
  }

  blockquote {
    border-left: 2px solid;
    @apply border-green-dark;

    > p {
      padding: 10px;
      margin: 0;
    }
  }
}
