.btn {
  text-shadow: var(--text-shadow);
  border-radius: 500px;
  background: var(--medium-green);
  text-transform: uppercase;
  font-weight: bold;
  height: 50px;
  font-size: 14px;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  transition: var(--transition-base);
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    -180deg,
    var(--green-gradient-light) 0%,
    var(--green-gradient-dark) 100%
  );
  transform: scale(1);

  &:hover {
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.4);
  }
}

.btn--blue {
  background: var(--lucky-blue);
  background-image: linear-gradient(
    -180deg,
    var(--blue-gradient-light) 0%,
    var(--blue-gradient-dark) 100%
  );
}
