// Lucky generates 3 folders to help you organize your CSS:
//
//    - static/css/variables # Files for colors, spacing, etc.
//    - static/css/mixins # Put your mixin functions in files here
//    - static/css/components # CSS for your components
//
// Remember to import your new CSS files or they won't be loaded:
//
//    @import "./variables/colors" # Imports the file in static/css/variables/_colors.scss
//
// Note: importing with `~` tells webpack to look in the installed npm packages
// https://stackoverflow.com/questions/39535760/what-does-a-tilde-in-a-css-url-do

@import 'modern-normalize/modern-normalize.css';
// Add your own components and import them like this:
//
// @import "components/my_new_component";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/btn";
@import "components/algolia-docsearch";
@import "components/markdown-content";
@import "vendor/nord-highlightjs-theme";

ul {
  @apply pl-10;
}

h3 {
  @apply font-bold;
}

.split-columns {
  column-count: 2;
  break-inside: avoid;
}

.bg-blue-gradient {
  background-image: linear-gradient(0deg, #274f8c 0%, #002748 100%);
}

.bg-green-gradient {
  background-image: linear-gradient(30deg, #00a7c1 0%, #25e0c1 100%);
}

@responsive {
  .bg-lucky-teal-blue-gradient {
    background-image: linear-gradient(
      30deg,
      #274f8c 0%,
      lighten(#1cb5ad, 10%) 100%
    );
  }
}

.bg-lucky-green-vertical-gradient {
  background-image: linear-gradient(
    -180deg,
    darken(#3de69f, 2%) 0%,
    darken(#22c37f, 2%) 100%
  );
}

.hover\:bg-lucky-green-vertical-gradient-dark:hover {
  background-image: linear-gradient(
    -180deg,
    darken(#3de69f, 10%) 0%,
    darken(#22c37f, 5%) 100%
  );
}

.transition-base {
  transition: 0.1s ease-in-out all;
}

@responsive {
  .pl-sidebar {
    padding-left: 390px;
  }
}

.text-shadow {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
