// Lucky generates 3 folders to help you organize your CSS:
//
//    - static/css/variables # Files for colors, spacing, etc.
//    - static/css/mixins # Put your mixin functions in files here
//    - static/css/components # CSS for your components
//
// Remember to import your new CSS files or they won't be loaded:
//
//    @import "./variables/colors" # Imports the file in static/css/variables/_colors.scss
//
// Note: importing with `~` tells webpack to look in the installed npm packages
// https://stackoverflow.com/questions/39535760/what-does-a-tilde-in-a-css-url-do

@import "~normalize-scss/sass/normalize/import-now";
// Add your own components and import them like this:
//
// @import "components/my_new_component";

@tailwind preflight;
@tailwind components;
@tailwind utilities;

.bg-blue-gradient {
  background-image: linear-gradient(0deg, #274f8c 0%, #002748 100%);
}

$dark-navy: #002748;
$lucky-blue: #1c92b3;
$lighter-gray: lighten(#aab5bf, 25%);
$light-gray: #aab5bf;
$bright-green: #9eff66;
$medium-green: darken(#36de97, 10%);
$medium-gray: #777;
$dark-gray: #444;
$white: #fff;
$transition-base: 0.1s ease-in-out all;

.btn {
  text-shadow: 0 1px 1px rgba(0,0,0,0.30);
  border-radius: 500px;
  background: $medium-green;
  text-transform: uppercase;
  font-weight: bold;
  height: 50px;
  font-size: 14px;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  transition: $transition-base;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(-180deg, #3de69f 0%, #22c37f 100%);
  transform: scale(1);

  &:hover {
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.4);
  }

  &--blue {
    background: $lucky-blue;
    background-image: linear-gradient(-180deg, #47c4ff 0%, #2ba4ec 100%);
  }
}

.algolia-docsearch {
  background: transparentize($color: #fff, $amount: 0.8);
  border-radius: 20px;
  border: none;
  color: #fff;
  margin: 0;
  max-width: 160px;
  padding-left: 15px;

  &:focus {
    background: #fff;
    color: #000;
  }

  &::placeholder {
    color: transparentize($color: #fff, $amount: 0.4);
    font-style: italic;
  }

  &:focus::placeholder {
    color: transparentize($color: #000, $amount: 0.6);
  }
}
