@import "tailwindcss";
@source "../**/*.cr";
@config "../../tailwind.config.js";

@import "./variables.css";
@import "modern-normalize" layer(base);
@import "@docsearch/css/dist/style.css";
@import "./components/btn.css";
@import "./components/markdown-content.css";
@import "./vendor/nord-highlightjs-theme.css";

@layer base {
  ul {
    @apply pl-10;
  }

  h3 {
    @apply font-bold;
  }
}

.split-columns {
  column-count: 2;
  break-inside: avoid;
}

.bg-blue-gradient {
  background-image: linear-gradient(0deg, #274f8c 0%, #002748 100%);
}

.bg-green-gradient {
  background-image: linear-gradient(30deg, #00a7c1 0%, #25e0c1 100%);
}

@utility bg-lucky-teal-blue-gradient {
  background-image: linear-gradient(30deg, #274f8c 0%, #43d7cf 100%);
}

.bg-lucky-green-vertical-gradient {
  background-image: linear-gradient(-180deg, #3ae298 0%, #20bd7b 100%);
}

.hover\:bg-lucky-green-vertical-gradient-dark:hover {
  background-image: linear-gradient(-180deg, #1fcc84 0%, #1eae70 100%);
}

.transition-base {
  transition: var(--transition-base);
}

@utility pl-sidebar {
  padding-left: 390px;
}

.text-shadow {
  text-shadow: var(--text-shadow);
}
